In [ ]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, MetaData, Integer, String, Date, Float, BigInteger

# Postgres -> user_name
# admin1234 -> password
# bootcamp2504p -> database name
bootcamp_engine = create_engine("postgresql+psycopg2://postgres:admin1234@localhost:5432/bootcamp_2504p")

# Define table structure
metadata = MetaData()

person_schema = Table(
  "person",
  metadata,
  Column('id', BigInteger, primary_key=True),
  Column('name', String(20), nullable=False),
  Column('age', Integer, nullable=False),
  Column('dob', Date, nullable=False),
  Column('salary', Float, nullable=False)
)

   id     name  age         dob   salary
0   1     John   13  10-12-2010  18000.0
1   2  Vincent   27  01-01-2005  24000.0
2   3    Lucas   20  31-01-2017  34000.0
   id     name  age         dob   salary
0   1     John   13  2010-12-10  18000.0
1   2  Vincent   27  2005-01-01  24000.0
2   3    Lucas   20  2017-01-31  34000.0

In [6]:
# Create table
metadata.create_all(bootcamp_engine)

df_persons = pd.read_csv("persons_for_db.csv")
print(df_persons.head())

# convert date format in csv (DD-MM-YYYY) to date format in database (YYYY-MM-DD)
df_persons["dob"] = pd.to_datetime(df_persons["dob"].astype(str), format="%d-%m-%Y").dt.date

print(df_persons.head())

   id     name  age         dob   salary
0   1     John   13  10-12-2010  18000.0
1   2  Vincent   27  01-01-2005  24000.0
2   3    Lucas   20  31-01-2017  34000.0
   id     name  age         dob   salary
0   1     John   13  2010-12-10  18000.0
1   2  Vincent   27  2005-01-01  24000.0
2   3    Lucas   20  2017-01-31  34000.0

In [7]:
# Insert Data
df_persons.to_sql("persons", bootcamp_engine, index=False, if_exists="replace")

3

In [10]:
# Read from DB table
df_persons_from_db = pd.read_sql("select * from persons where age > 19", con=bootcamp_engine)
print(df_persons_from_db.head())

target_dob = pd.to_datetime("2017-01-31").date()
df_filtered = df_persons_from_db[df_persons_from_db["dob"] == target_dob]

print(df_filtered)

   id     name  age         dob   salary
0   2  Vincent   27  2005-01-01  24000.0
1   3    Lucas   20  2017-01-31  34000.0
   id   name  age         dob   salary
1   3  Lucas   20  2017-01-31  34000.0