In [36]:
3 + 7
7 + 9

16

In [ ]:
print(3 + 4)
print(7 + 9)

7
16

:

In [ ]:
# int x = 1;
x = 1 # Python doesn't need to specify the type of variable
print(x)

x = 9;
print(x)

x = 9.5
print(x)

x = True # Python: True, Java: true
print(x)

1
9
9.5
True

:

In [37]:
name = "John"
print(name)

name = 'John'
print(name)

print("Hello World!!!")

print("Hello World", "!!!") # added space

John
John
Hello World!!!
Hello World !!!

In [38]:
# Naming Convention
# Java: CamelCase style for vairable name: isMale = true
# Python: underscore: is_male = True

is_student = False

# Invalid naming convention
# 2name = "Steven" # error
# last-name = "Lau" # error

In [39]:
# Math
# multiply *
print(3 * 8)
print("hello" * 2)

# divide /
print(10 / 3)
# print(10 / 0) # division by zero

24
hellohello
3.3333333333333335

In [40]:
# Java has 8 primitive
# Python
y = 3
print(type(y))
y = 3.4
print(type(y))
y = "bootcamp"
print(type(y))
y = True
print(type(y))


print("age" + str(23))
print("age", str(True)) # print with space

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
age23
age True

In [41]:
name = "Jennie"
age = 27
print(f"The student is {name}, and the age is {age}.")

The student is Jennie, and the age is 27.

In [42]:
# Case sensitive?
# Pyhton: String type and Dynamic