In [52]:
# int x = 1;
# x = 1;

# x = 9;

In [53]:
name = "Jonh"
print(name)

print("Hello, World!", "!!!") # added space

Jonh
Hello, World! !!!

In [54]:
# Naming Convention
# Java: CamelCase style for vairable name: isMale = true
# Python: is_male = True

is_student = False

In [55]:
# Math
# mutiply
print(3 * 8)
print("hello" * 2)

# divide /
print(10 / 3) # integer division //
# print(10 / 0) # division by zero

24
hellohello
3.3333333333333335

In [ ]:
# Java has 8 primitive
# Python
y = 3
print(type(y))
y = 3.4
print(type(y))
y = "bootcamp"
print(type(y))
y = True
print(type(y))


print("age" + str(23))
print("age", str(True)) # print with space

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
age23
age True

In [ ]:
name = "Jennie"
age = 27
print(f"The student is {name}, and the age is {age}.")

In [ ]:
# Case sensitive?
# Pyhton: String type and Dynamic